:root {
    --action-2: #ff595c;
    --action-2-hover: #ff7174;
    --action-1: #32936fff;
    --action-1-hover: #27a979;
}

.btn-action-list .material-symbols-outlined {
    color: white;
}

.btn-action-list {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.5rem;
    background: var(--action-1);
    transition: background-color 0.15s;
}

    .btn-action-list:hover {
        background: var(--action-1-hover);
    }

    .btn-action-list.delete {
        background: var(--action-2);
    }

        .btn-action-list.delete:hover {
            background: var(--action-2-hover);
        }

    .btn-action-list.add {
        color: var(--white);
        padding: 0.75rem 1rem;
    }
