@page "/products"
@using System.Globalization

<div class="products-list">
    <ListHeader Title="Produtos">
        <button class="btn-action-list add" type="button">
            Novo produto
        </button>
    </ListHeader>
    <DefaultTable Items="_products" Context="product">
        <TableHeader>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Imagem</th>
            <th>Ações</th>
        </TableHeader>
        <RowTemplate>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Price.ToString("c2")</td>
            <td>@product.Quantity</td>
            <td>
                <div class="td-image">
                    <span class="material-symbols-outlined">file_open</span>
                    <span>Abrir imagem</span>
                </div>
            </td>
            <td>
                <button class="btn-action-list" type="button">
                    <span class="material-symbols-outlined">edit</span>
                </button>
                <button class="btn-action-list delete" type="button">
                    <span class="material-symbols-outlined">delete</span>
                </button>
            </td>
        </RowTemplate>
    </DefaultTable>
</div>
@code {
    private List<ProductDTO> _products = new List<ProductDTO>
    {
        new ProductDTO(Guid.NewGuid(), "Teste", "Descrição teste", 1500M, "tesdas", 4, false, DateTime.UtcNow)
    };
}
