<header>
    <nav class="main-navigation">
        <div class="logo">
            <a href="/">
                <img src="/assets/logo_geekmarket.svg" alt="logo" />
            </a>
        </div>
        <div class="nav-menu">
            <ul>
                <li>
                    <a href="/products">Produtos</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
