header {
    padding: 0.5rem;
    border-bottom: 1px solid var(--primary);
    color: var(--primary);
}

.main-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
}

    .main-navigation ul li {
        cursor: pointer;
    }

        .main-navigation ul li a {
            text-decoration: none;
            transition: color 0.25s;
        }

        .main-navigation ul li > a:visited {
            color: var(--primary);
        }

        .main-navigation ul li a:hover {
            color: var(--primary-hover);
        }

.nav-menu {
    flex: 1;
    display: flex;
}

    .nav-menu ul ~ ul {
        margin-left: 0.875rem;
    }

    .nav-menu ul {
        list-style: none;
    }

.logo {
    margin-right: 1rem;
}

    .logo img {
        height: 3.5rem;
    }
